<div class="social-media">
    <p>Website made with love by: Bryan Tran <br /> This is for all you indecisive foodies out there</p>
    <ul>
        <a href="https://github.com/bryantran97"><li>Github</li></a>
        <a href="https://linkedin.com/in/bryantran97"><li>LinkedIn</li></a>
        <a href="http://bryan-tran.com"><li>Portfolio</li></a>
        <a href="mailto:bryantran97@gmail.com"><li>Email</li></a>
    </ul>
</div>
</body>
</html>