<% include ./partials/header %>
    
<div class="container">
    <div class="error">
        <h1>This is not EPIC. It looks like there was an error.</h1>
    
        <h2>Why does this happen?</h2>
        <p>Sometimes the randomly generated food in your area is rare and there are no restaurants</p>
        <p>Or you probably put in a city name that doesn't exist!</p>
        <br />
        <a  class="ui inverted button" href="/">Return</a>
    </div>
</div>
<% include ./partials/footer %>