<!DOCTYPE html>
<html>
<head>
    <title>What-To-Eat</title>
    <!-- CSS LINKING -->
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/button.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/input.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="content">
        <h2>Aww Darn! It looks like there was an error</h2>
    
        <p>This usually occurs when theres food in the system that doesn't really have any restaurants selling them in your area! Either THAT or you just put in the wrong place name or you tried to break my website by putting random values in. *I see you*</p>
        <br />
        <a  class="ui inverted button" href="/">Return</a>
    </div>
</body>
</html>