<% include ./partials/header %>
<div class="container">
    <div class="content">
        <img src="images/favicon.png">
        <h1>Are you a true foodie? <br/>Try me out</h1>
        <p>Put in your location and press SUBMIT<p>
        <form method="GET" action="/results">
            <div class="ui icon input">
                <input type="text" name="location" placeholder="Location...">
                <i class="search icon"></i>
                </div>
            <button class="ui inverted button">Submit</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>

